/*******************************\

    # COLORS

\*******************************/
/*******************************\

    # LAYOUTS

\*******************************/
/*******************************\

    # SIZINGS

\*******************************/
/*******************************\

    # RESPONSIVE

\*******************************/
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Merriweather&family=Roboto+Mono:wght@100&display=swap");
* {
  border: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.top-hero {
  position: relative;
  width: 100%;
  height: 50rem;
  min-height: 450px;
}

.top-hero .post-thumb {
  width: 100%;
  height: 55rem;
  z-index: 1;
  opacity: .5;
}

.top-hero .post-thumb img {
  width: 100%;
  height: 100%;
}

.top-hero .text {
  position: absolute;
  z-index: 2;
  bottom: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1.5rem;
  color: black;
}

.top-hero .text .title {
  display: block;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  color: black;
}

.top-hero .text .description {
  position: relative;
  margin-left: -19rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-hero .text .description .details {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-hero .text .description .details .author {
  padding-bottom: 0.5rem;
  font-style: italic;
}

.top-hero .text .description .details .date {
  font-style: italic;
}

.hr_line {
  width: 100%;
  height: 50px;
  margin-top: 5rem;
  position: relative;
}

.hr_line .stars {
  width: 20%;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 40%;
}

.hr_line .stars i {
  margin-left: 2rem;
  color: gold;
}

.post-content {
  background-color: white;
  position: relative;
  padding: 100px 250px;
  width: 80%;
  height: auto;
  margin-left: 10%;
  padding-top: 2rem;
}

.post-content * {
  font-size: 1.2rem;
}

.post-content h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-left: -20rem;
  margin-right: -20rem;
}

.post-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  margin-left: -20rem;
  margin-right: -20rem;
}

.post-content h3 {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: left;
  margin-left: -20rem;
  margin-right: -20rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.post-content a {
  font-size: 2rem;
  text-decoration: underline;
}

.post-content p {
  display: block;
  font-size: 1.8rem;
  padding-bottom: 1.75rem;
  text-align: justify;
  margin-left: -20rem;
  margin-right: -20rem;
}

.post-content p:last-child {
  padding-bottom: 0;
}

.post-content ul {
  display: block;
  list-style: disc inside;
  font-size: 2rem;
}

.post-content ul li {
  padding-left: .5rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  margin-left: -17rem;
}

.post-content ol {
  display: block;
  list-style: disc inside;
  font-size: 2rem;
}

.post-content ol li {
  padding-left: -5rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  margin-left: -17rem;
}

.post-content strong {
  font-size: 1.8rem;
  font-weight: bold;
}

.post-content img {
  max-width: 100%;
  width: 800px;
  max-height: 80rem;
  height: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 13%;
  border-radius: 1rem;
}

.generate_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
}

.generate_info .post-info-author {
  width: 39%;
  height: 800px;
  margin: 1rem 0 0 1.5rem;
}

.generate_info .post-info-author .info-author {
  width: 93%;
  height: 90%;
  margin: 2rem 0 0 4rem;
}

.generate_info .post-info-author .info-author .title_welcome {
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: #192841;
  padding-top: 0.1rem;
}

.generate_info .post-info-author .info-author .title_welcome h2 {
  color: white;
  font-size: 2rem;
}

.generate_info .post-info-author .info-author .picture-author {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: 4rem 15rem;
}

.generate_info .post-info-author .info-author .picture-author img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.generate_info .post-info-author .info-author .info {
  width: 400px;
  height: 200px;
  margin: 0 7rem;
  text-align: center;
}

.generate_info .post-info-author .info-author .info .name h1 {
  font-family: 'Itim', cursive;
}

.generate_info .post-info-author .info-author .info .description p {
  font-family: 'Merriweather', serif;
}

.generate_info .post-info-author .info-author .social_info {
  width: 400px;
  height: 50px;
  margin: 0 7rem;
  text-align: center;
}

.generate_info .post-info-author .info-author .social_info i {
  font-size: 2rem;
  margin: 1rem;
}

.generate_info .post-info-author .info-author .social_info i:hover {
  color: #747474;
}

.generate_info .comment {
  position: relative;
  padding: 100px 0px;
  width: 40%;
  height: auto;
  margin-left: 10%;
  margin-top: 1rem;
  padding-top: 2rem;
}

.generate_info .comment .panel {
  width: 100%;
  margin-bottom: 3rem;
}

.generate_info .comment .panel .panel-heading .panel-title .logo {
  width: 200px;
  height: 100px;
  margin: 2rem auto auto 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.generate_info .comment .panel .panel-heading .panel-title .logo .why {
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  padding-top: 3rem;
  margin-left: 2rem;
  color: #1F9AE2;
  font-weight: bold;
}

.generate_info .comment .panel .panel-heading .panel-title .logo span {
  text-decoration: none !important;
}

.generate_info .comment .panel .panel-heading .panel-title .logo #heart {
  position: relative;
  width: 100px;
  height: 90px;
  -webkit-animation: heartbeat 1s infinite;
          animation: heartbeat 1s infinite;
  margin: 8px -42px 8px -40px;
}

.generate_info .comment .panel .panel-heading .panel-title .logo #heart:before,
.generate_info .comment .panel .panel-heading .panel-title .logo #heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.generate_info .comment .panel .panel-heading .panel-title .logo #heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  20% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  40% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  60% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  80% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  100% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  20% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  40% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  60% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  80% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  100% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
}

.generate_info .comment .panel .panel-heading .panel-title .logo:hover {
  background: url("//cdn.shopify.com/s/files/1/0382/4185/files/fly-hearts.gif?675304149355108345");
}

.generate_info .comment .panel .panel-collapse .panel-body .send-btn {
  width: 7rem;
  height: 4rem;
}

.generate_info .comment .panel .panel-collapse .panel-body .send-btn button {
  background: #f6f6f6;
  margin-left: 48rem;
  background: green;
}

.generate_info .comment .panel .panel-collapse .panel-body .send-btn button:focus {
  outline: 0;
}

.generate_info .comment .panel .panel-collapse .panel-body .send-btn button:hover {
  cursor: pointer;
}

.generate_info .comment .input_comment {
  width: 59rem;
  height: 15rem;
}

.generate_info .comment .input_comment .body {
  width: 57.5rem;
  height: 10rem;
  z-index: 1;
  position: absolute;
}

.generate_info .comment .input_comment .body textarea {
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

.generate_info .comment .input_comment .icon {
  width: 7rem;
  height: 7rem;
  border-radius: 4rem;
  position: absolute;
  z-index: 3;
  top: 3.5rem;
  right: 13rem;
}

.generate_info .comment .input_comment .icon i {
  width: 100%;
  height: 100%;
  font-size: 7rem;
}

.generate_info .comment .input_comment .icon i:hover {
  cursor: pointer;
}

.generate_info .comment .show-comments {
  position: relative;
  width: 75%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.generate_info .comment .show-comments .user_post {
  width: 60rem;
  height: 18rem;
  margin-bottom: 1rem;
}

.generate_info .comment .show-comments .user_post img {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  margin-top: 12rem;
}

.generate_info .comment .show-comments .user_post .post-comment {
  width: 45rem;
  height: auto;
  max-height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0 2rem 1rem;
  background-color: white;
  padding: 0.5rem 0 1rem 1rem;
}

.generate_info .comment .show-comments .user_post .post-comment .content .name h1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.generate_info .comment .show-comments .user_post .post-comment .content .calendar {
  font-size: 0.9rem;
}

.generate_info .comment .show-comments .user_post .post-comment .content .body {
  margin-top: 1rem;
  font-size: 1rem;
}

.generate_info .comment .show-comments .user_post #message {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 26% 76%, 0 100%, 11% 75%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 26% 76%, 0 100%, 11% 75%, 0% 75%);
  margin: -17rem auto auto 6rem;
  width: 450px;
}

.pagination_link {
  margin-left: 21rem;
}
/*# sourceMappingURL=post.css.map */